<a href="https://colab.research.google.com/github/TalhaJamal02/python-class-assignment-03/blob/main/03_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **List Tuples and methods**

## **Basic List Operations**

In [ ]:
number_list = [1, 2, 3, 4, 5]

print(number_list)
number_list.append(6)
print(number_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]

In [ ]:
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]

print(list_1)
list_1.extend(list_2)
print(list_1)

[1, 2, 3]
[1, 2, 3, 4, 5, 6]

In [ ]:
prog_list =  ["Java", "C++", "JavaScript","Ruby"]

print(prog_list)
prog_list.insert(2, "Python") # insert(index, what to change)
print(prog_list)

['Java', 'C++', 'JavaScript', 'Ruby']
['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

In [ ]:
num_list = [10, 20, 30, 10, 40]

print(num_list)
# num_list.remove(10)
print(num_list)

[10, 20, 30, 10, 40]
[10, 20, 30, 10, 40]

In [ ]:
num = [100, 200, 300, 400]

print(num)
num.pop()
print(num)

[100, 200, 300, 400]
[100, 200, 300]

## **Intermediate List Operations**

In [ ]:
num = [5, 10, 5, 20, 5, 30]
count_num = num.count(5)
print(count_num)

3

In [ ]:
sort_list = [9, 1, 8, 3, 5]

sort_list.sort()
print(sort_list)
sort_list.sort(reverse=True)
print(sort_list)

[1, 3, 5, 8, 9]
[9, 8, 5, 3, 1]

In [ ]:
reverse_list = ["apple", "banana", "cherry"]

print(reverse_list)
reverse_list.reverse()
print(reverse_list)

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

In [ ]:
num_list = [1, 2, 3, 4, 5]
print(num_list)

copied_list = num_list.copy()
copied_list.pop()
copied_list.append(7)
print(copied_list)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 7]

In [ ]:
words_list = ["hello", "world", "python"]

print(words_list)
words_list.clear()
print(words_list)

['hello', 'world', 'python']
[]

## **Tuple-Based Questions**

In [5]:
friuts = ("Apple", "Mango", "Watermelon", "Peach", "Strawberry")

print(friuts[2])

Watermelon

In [9]:
nums = (10, 20, 30, 40, 50)

nums_list = list(nums)
nums_list.remove(30)

nums_tuple = tuple(nums_list)
print(nums_tuple)

(10, 20, 40, 50)

In [13]:
char = ("A", "B", "C")

print(char)
# char.append("D") # It will give an error, because tuples are immutable means their contents cannot be changed.

# Let use list() approach,
char_list = list(char)
char_list.append("D")

char_tuple = tuple(char_list)
print(char_tuple)

('A', 'B', 'C')
('A', 'B', 'C', 'D')

In [15]:
nums = (100, 200, 300)

a, b, c = nums
print(a, b ,c)

100 200 300

In [17]:
nums_tuple = (7, 1, 7, 3, 7, 5)

count_num = nums_tuple.count(7)
print(count_num)

3

## **Advanced Problems**

In [21]:
def remove_even(num_list):
  return [num for num in num_list if num % 2 != 0] # This is list comprehension its easy and short at the same time

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(remove_even(nums))

[1, 3, 5, 7, 9, 11, 13, 15]

In [26]:
def in_descending(num_list):
  for a in range (len(num_list)):
    for b in range(a + 1, len(num_list)):
      if num_list[a] < num_list[b]:
        num_list[a], num_list[b] = num_list[b], num_list[a]
  return num_list

nums = [10, 6, 8, 5, 3, 1, 9]
print(in_descending(nums))

[10, 9, 8, 6, 5, 3, 1]

In [29]:
def remove_duplicates(name):
  unique_list = list(set(name))
  return tuple(unique_list)

names = ("Talha", "Hamza", "Talha", "Ali", "Saad", "Hamza")
print(remove_duplicates(names))

('Ali', 'Saad', 'Talha', 'Hamza')

In [33]:
def sperate_types(mix_list):
  int_list = []
  str_list = []
  float_list = []

  for i in mix_list:
    if isinstance(i, int) and not isinstance(i, bool):  # Avoids treating booleans as integers because a True in boolean is equal to 1.
        int_list.append(i)
    elif isinstance(i, str):
      str_list.append(i)
    elif isinstance(i, float):
      float_list.append(i)

  return int_list, str_list, float_list

mixed_list = ["hy", 12, 4.13, "bye", 9.8, "again hy", 67, "again bye", 0.9, 16]
ints, strs, floats = sperate_types(mixed_list)

print(f"Integers: {ints}")
print(f"Strings: {strs}")
print(f"Floats: {floats}")

Integers: [12, 67, 16]
Strings: ['hy', 'bye', 'again hy', 'again bye']
Floats: [4.13, 9.8, 0.9]